#slider {
    background: #222 url("../../uploads/header.jpg") center bottom no-repeat;
    background-size: cover;
    overflow: hidden;
    .slider-carousel {
        min-width: 100vw;
        min-height: 100vh;
    }
}
